<div id="nav-bar">
    <div id="title">
        Dashboard
    </div>
    <div id="menu">
        <div class="item" routerLink="/admin/dashboard/product">Mặt hàng</div>
        <div class="item" routerLink="/admin/dashboard/category">Danh mục</div>
        <div class="item" routerLink="/admin/dashboard/order">Đơn hàng</div>
        <div class="item" routerLink="/admin/dashboard/gallery">Hình ảnh</div>
        <div class="item" routerLink="/admin/dashboard/upload">Tải lên</div>
        <div class="item" routerLink="/admin/dashboard/homepage">Trang chủ</div>
        <div class="item" (click)="logout()">Đăng xuất</div>
    </div>
    <div class="cdk-overlay-pane">
        <div id="menu-mobile" [ngClass]="{'visible':isMenuOpened}" >
            <mat-icon class="close" (click)="isMenuOpened = false">close</mat-icon>
            <div class="item" routerLink="/admin/dashboard/product">Mặt hàng</div>
            <div class="item" routerLink="/admin/dashboard/category">Danh mục</div>
            <div class="item" routerLink="/admin/dashboard/order">Đơn hàng</div>
            <div class="item" routerLink="/admin/dashboard/gallery">Hình ảnh</div>
            <div class="item" routerLink="/admin/dashboard/upload">Tải lên</div>
            <div class="item" routerLink="/admin/dashboard/homepage">Trang chủ</div>

            <div class="item" (click)="logout()">Đăng xuất</div>
        </div>
    </div>
</div>
<div class="menu-button" [ngClass]="{'hidden':isMenuOpened}" (click)="isMenuOpened = true">MENU</div>
    <router-outlet></router-outlet>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> 
   
    
    
    <div id="homepage" class="view" [ngClass]="{'active':viewIndex === 3}">
        <div id="wrapper">
            <button data-destination="arrival" class="btn btn-dark item">Sản phẩm mới</button>
            <button data-destination="discount" class="btn btn-dark item">Giảm giá sốc</button>
        </div>
    </div>
    <div id="choose-items">
        <div id="wrapper">
            <p id="item-title">Thay đổi hiển thị</p>
            <span id="item-close" class="material-icons">close</span>
            <div id="inner">
               <table class="table">
               </table>
            </div>
            <button id="item-save" class="btn btn-success">Lưu</button>
        </div>
    </div> -->