<div class="main" [style]="'background-image: url('+ back +'/static/images/back.jpg'+')'">
    <div class="register">
        <img src="../../../assets/images/brand.png" alt="" class="register__logo">
        <p class="register__title">Đăng ký tài khoản</p>
        <input type="text" class="register__email" placeholder="Email">
        <input type="password" class="register__password" placeholder="Password">
        <input type="password" class="register__repassword" placeholder="Retype password">
        <button class="register__submit">Đăng ký</button>
        <p class="register__or">Hoặc</p>
        <button class="register__google">Đăng ký với Google</button>
        <p class="register__register">Bạn có tài khoản? <a routerLink="/auth/login">Đăng nhập</a></p>
    </div>
</div>