mat-icon {
    user-select: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
  }
.drawer {
    padding-top: 65px;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 100%;
    color: rgb(114, 114, 114);
    font-family: CocoGothic;
    letter-spacing: 0.5px;
    transform: translateY(-100%);
    transition-duration: 0.4s;
    z-index: 3;
    font-size: 16px;
    //Drawer modifiers
    &--visible {
        transform: translateY(0%);
        transition-duration: 0.6s;
    }
    //Drawer childrens
    &__signin,&__signup {
        height: 20px;
        width: 130px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;

        & mat-icon {
            padding-right: 10px;
        }
    }
    &__menu {
        padding-top: 20px;
        
        &__item {
            margin-left: 20px;
        }
    }
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    z-index: 4;
    //Header modifiers
    &--transparent {
        background-color: transparent;
        filter: invert(1);    
    }
    //Header childrens
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 0%;

        &__bar {
            width: 30px;
            height: 1.5px;
            border-radius: 10px;
            background-color: black;
            margin: 4px;
            margin-left: 10px;

            &--short {
                width: 20px;
                margin-left: 0px;
            }
        }
    }
    &__logo {
        position: absolute;
        width: auto;
        height: 45px;
    }
    &__search {
        flex: none;
        position: absolute;
        right: 0px;
        width: 45px;
        height: 45px;
    }
}

.cart{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateX(100%);
    font-family: CocoGothic;
    background-color: white;
    transition-duration: 0.4s;
    overflow-y: scroll;
    &--visible {
        transform: translateX(0%);
    }

    &__wrapper {
        padding: 20px;

        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &__details {
            line-height: 10px-;
        }
        &__inner {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px dotted rgb(116, 116, 116);
            
            &__item {
                position: relative;
                height: 150px;

                &__image {
                    float: left;
                    width: auto;
                    height: 130px;
                    margin-right: 10px;
                }
                &__name , &__amount{
                    color: gray;
                }
                &__price {
                    font-weight: bolder;
                    color: crimson;
                }
                &__delete {
                    position: absolute;
                    bottom: 25px;
                    right: 10px;
                    width: 80px;
                    height: 30px;
                    text-align: center;
                    line-height: 25px;
                    background-color: crimson;
                    color: white;
                }
            }
        }
        &__info {
            position: relative;
            overflow: hidden;
            padding-top: 10px;
            padding-bottom: 10px;

            &__label {
                float: left;
            }
            &__total {
                float: right;
                color: crimson;
                font-weight: bolder;
            }
        }
        &__checkout {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                background-color: black;
                width: 80%;
                height: 40px;
                line-height: 35px;
                color: whitesmoke;
                text-align: center;
            }
        }
        &__more {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                text-decoration: underline;
            }
        }
    }
}
.header-desktop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: CocoGothic;
    transition-duration: 0.5s;
    //
    &--transparent {
        top: 15px;
        filter: invert(1);
        background-color: transparent;
    }
    //
    ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    }
    ::ng-deep .mat-form-field-label {
        /*change color of label*/
        color: black !important;
        }
    ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
    } 
    
    ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;;
    }



    &__logo {
        position: absolute;
        left: 7%;
        width: auto;
        height: 50px;
    }
    &__menu {
        position: absolute;
        left: 18%;
        width: auto;
        height: 60px;

        &__item {
            float: left;
            line-height: 60px;
            font-size: 18px;
            margin-right: 30px;
            cursor: pointer;
            transition-duration: 0.2s;
            
            &:hover {
                filter: invert(0.5);
            }
        }
    }
    &__filter {
        position: absolute;
        right: 200px;
        bottom: -5px;
    }
    &__cart {
        position: absolute;
        right: 50px;
        
        & mat-icon {
            font-size: 30px;
        }
    }
    &__user {
        position: absolute;
        right: 120px;
        
        & mat-icon {
            font-size: 32px;
        }
    }
    &__search {
        position: absolute;
        right: 390px;
        bottom: 10px;
        
        & mat-icon {
            font-size: 25px;
        }
    }
}
@media screen and (min-width: 500px) { 
    .header {
        display: none;
    }
    .header-desktop {
        display: flex;
    }
    .cart{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 400px;
        height: 100%;
        z-index: 10;
        transform: translateX(-100%);
        &--visible {
            transform: translateX(0%);
        }
    }
}
