<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"> 

<div id="prod-list" class="view">
    <div id="filter">
        <input class="form-control" id="search" placeholder="Search...">
    </div>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Kích cỡ</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col"><span class="material-icons" (click)="openItemDrawerAsNew()">note_add</span>Thêm</th>
        </tr>
        <tr *ngFor="let item of itemArray">
            <td>{{item.item_id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><p *ngFor="let size of item.sizes" style="float: left; margin-right: 5px;">{{size}}</p></td>
            <td *ngIf="item.images !== undefined"><img *ngFor="let image of item.images.slice(0,3)" [src]="back + image" width="60px" height="60px" style="float: left;"></td>
            <td><span class="material-icons" (click)="openItemDrawer(item)">edit</span>Sửa</td>
        </tr>
    </table>
</div> 
<div id="drawer" [ngClass]="{'active':isItemDrawerOpened}">
    <span id="close" class="material-icons" (click)="isItemDrawerOpened = false">close</span>
    <h2>Dữ liệu mặt hàng</h2>
    <form [formGroup]="formData">
        <input class="form-control" formControlName="_id" hidden>
        <input class="form-control" formControlName="item_id" placeholder="ID">
        <input class="form-control" formControlName="name" placeholder="Name" >
        <input class="form-control" formControlName="sizes" placeholder="Sizes" >
        <input class="form-control" type="number" formControlName="price" placeholder="Price" >
        <input class="form-control" type="number" formControlName="discount" placeholder="Discount" >
        <input class="form-control" formControlName="images" style="display: none;">
        <textarea class="form-control" hidden formControlName="description" rows="3" placeholder="Description" [value]="EditorData"></textarea>
        <select formControlName="instock">
            <option [ngValue]="'true'" >Còn hàng</option>
            <option [ngValue]="'false'">Hết hàng</option>
        </select>
    </form>
    <ckeditor 
    [(ngModel)]="EditorData" 
    [editor]="Editor"  
    (ready)="setHeight($event)"></ckeditor>
    <div id="preview">
        <img *ngFor="let imgsrc of formData.value.images" [src]="back+imgsrc" width="100px" height="100px" style="float: left;">
        <button id="change-images" class="btn btn-info" (click)="selectImages()">Đổi ảnh</button>
    </div>
    <button id="add" class="action btn btn-success" [ngClass]="{'none':isEditing}" (click)="addItem()">Thêm mặt hàng</button>
    <button id="save" class="action btn btn-success" [ngClass]="{'none':!isEditing}" (click)="editItem()">Lưu thay đổi</button>
    <button id="delete" class="action btn btn-danger" [ngClass]="{'none':!isEditing}" (click)="deleteItem()">Xóa mặt hàng</button>
</div>
<div id="choose-images" [ngClass]="{'active':isSelectingImages}">
    <div id="wrapper">
        <p id="img-title">Thay đổi hình ảnh</p>
        <span id="img-close" class="material-icons" (click)="isSelectingImages = false">close</span>
        <div id="inner">
            <img *ngFor="let imgsrc of imageSelector_tempArray,index as i" class="item" [src]="back+imgsrc" (click)="selectImages_setIndex(i)" [ngClass]="{'selected':imageSelector_selIndex === i}">
            <button id="add-images" (click)="selectImages_add()" class="btn btn-light item"><span id="add-images-icon" class="material-icons" style="font-size:40px; color:white">add_photo_alternate</span></button>
        </div>
        <div id="inner-gallery">
            <img *ngFor="let imgsrc of imageArray,index as i" (click)="selectImages_setGalleryIndex(i)" [src]="back+'/static/contents/'+imgsrc" class="item">
        </div>
        <button id="save-changes" class="btn btn-success" (click)="selectImages_save()">Lưu</button>
        <button id="delete-image" class="btn btn-danger"(click)="selectImages_delete()">Xóa hình ảnh</button>
    </div>
</div>
