<section class="contact">
    <div class="contact__item">
        <p class="contact__item__title">GỌI MUA HÀNG</p>
        <div class="contact__item__number"><mat-icon>phone</mat-icon>0393306989</div>
        <p class="contact__item__time">(9:00 - 22:00)</p>
        <p class="contact__item__subtitle">Tất cả các ngày trong tuần</p>
    </div>
    <div class="contact__item">
        <p class="contact__item__title">GÓP Ý, KHIẾU NẠI</p>
        <div class="contact__item__number"><mat-icon>phone</mat-icon>0985664289</div>
        <p class="contact__item__time">(9:00 - 22:00)</p>
        <p class="contact__item__subtitle">Tất cả các ngày trong tuần</p>
    </div>
</section>
<section class="newsettler">
    <p class="newsettler__title">ĐĂNG KÝ NHẬN TIN TỨC</p>
    <div class="newsettler__inner">
        <input type="text" placeholder="Email" class="newsettler__inner__email">
        <input type="submit" value="Đăng ký" class="newsettler__inner__submit">
    </div>
</section>
<section class="social">
    <p class="social__title">FOLLOW AN TRÊN MẠNG XÃ HỘI</p>
    <div class="social__inner">
        <img src="../../../assets/vectors/facebook.svg" class="social__inner__item">
        <img src="../../../assets/vectors/instagram.svg" class="social__inner__item">
        <img src="../../../assets/vectors/youtube.svg" class="social__inner__item">
    </div>
</section>
<section class="expansions">
    <mat-expansion-panel class="expansions__stores" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hệ thống cửa hàng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>SN 11, Quang Trung, Uông Bí, Quảng Ninh</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__support" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hỗ trợ khách hàng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel color="primary">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Chính sách đổi trả
            </mat-panel-title>
          </mat-expansion-panel-header>
          CHÍNH SÁCH ĐỔI SẢN PHẨM An Bralette
                <br>
                - Sản phẩm đổi trả phải còn nguyên tem mác, không qua sử dụng hay giặt là.
                <br>
                - Đổi sản phẩm bằng hoặc hơn giá trong vòng 03 ngày kể từ khi nhận hàng.
                <br>
                - Không áp dụng đổi trả sản phẩm trong các chương trình khuyến mại.
                <br>
                - KHÔNG áp dụng đổi trả sản phẩm QUẦN LÓT và phụ kiện dưới mọi hình thức.
                <br>
                - An Bralette bảo hành sản phẩm trong vòng 15 ngày tất cả các lỗi từ nhà sản xuất.
        </mat-expansion-panel>
        <mat-expansion-panel color="primary">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Chính sách bảo hành
            </mat-panel-title>
          </mat-expansion-panel-header>
          Nhằm giúp quý khách an tâm chọn lựa cho mình những mẫu nội y ưng ý và phục vụ khách hàng chu đáo nhất. Hệ thống cửa hàng nội y nữ An Bralette luôn luôn chấp nhận bảo hành tất cả các lỗi từ nhà sản xuất trong vòng 15 ngày kể từ khi mua hàng.
          <br>
          I. ĐIỀU KIỆN SẢN PHẨM ĐƯỢC BẢO HÀNH GỒM:
          Sản phẩm được bảo hành không quá 15 ngày kể từ khi mua hàng. Khách hàng vui lòng cung cấp  hoá đơn bán lẻ tại hệ thống cửa hàng An Bralette khi đến bảo hành.<br>
          Danh mục sản phẩm được bảo hành là tất cả các sản phẩm mua nguyên giá, bao gồm: áo lót, bộ đồ lót, đồ ngủ, đồ tập, đồ bơi<br>
          Áp dụng cho cả khách hàng mua online và mua tại cửa hàng.<br>
          <br>

          Lưu ý: chương trình bảo hành sản phẩm KHÔNG áp dụng với các sản phẩm trong chương trình khuyến mại, các sản phẩm quần lót, phụ kiện. Hay các trường hợp không có hoá đơn mua hàng tại An Bralette

          <br>

          II. THỜI GIAN BẢO HÀNH<br>
          Trong vòng 15 ngày tính từ thời điểm mua hàng.<br>
          
          <br>
          III. QUY TRÌNH BẢO HÀNH<br>
          <br>
          Cho phép bảo hành chéo giữa các cửa hàng<br>
          Cho phép bảo hành chéo giữa mua Online và cửa hàng.<br>
          

          QUY TRÌNH BẢO HÀNH<br>

          Bước 1: Khách hàng thông báo lỗi sản phẩm qua Fanpage hoặc Hotline: 0985.664.289<br>
          Bước 2: Khách hàng gửi sản phẩm bảo hành về cửa hàng An Bralette gần nhất.<br>
          Bước 3: An Bralette sẽ xác nhận trường hợp bảo hành có hợp lệ hay không và phản hồi cho khách hàng trong vòng 24h kể từ khi nhận được sản phẩm.<br>
          Bước 4: Sản phẩm sẽ được gửi về nhà sản xuất bảo hành theo quy trình từ 05-07 ngày làm việc.<br>
          Bước 5: A xác nhận sản phẩm đã bảo hành thành công và thông báo với khách hàng tới nhận lại sản phẩm<br>
          Lưu ý: An Bralette hỗ trợ chi phí vận chuyển một chiều (nếu có) cho khách hàng<br>
          <br>
          IV. CÁC TRƯỜNG HỢP BẢO HÀNH HỢP LỆ<br>
          An Bralette bảo hành tất cả các lỗi từ nhà sản xuất bao gồm: <br>
          <br>
          Các lỗi về đường may, đường chỉ<br>
          Các lỗi về kĩ thuật may như sai vị trí móc cài, soắn dây, gắn nhầm size áo<br>
          
          <br>
          V. CÁC TRƯỜNG HỢP BẢO HÀNH KHÔNG HỢP LỆ<br>
          Các trường hợp lỗi do sử dụng sản phẩm không đúng cách sẽ KHÔNG được An Bralette bảo hành, gồm:<br>
          <br>
          Lỗi giặt là (giặt cùng sản phẩm mầu bị phai mầu, giặt máy khiến sản phẩm bị rách, mất form áo, gẫy gọng)<br>
          Các lỗi rách tròn do côn trùng, động vật gây ra hoặc rách/ rút sợi vải do móc vào vật sắc nhọn <br>
        </mat-expansion-panel>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__about" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Về An Bralette
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="cursor: pointer;" (click)="reload$.goto('/info')">Giới thiệu</p>
        <p>Liên hệ</p>
        <p>Tuyển dụng</p>
        <p>Tìm đại lý</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__stores" color="fanpage">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fanpage của chúng tôi
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
</section>
  
<section class="copyright">© 2021 NDev</section>