<section class="contact">
    <div class="contact__item">
        <p class="contact__item__title">GỌI MUA HÀNG</p>
        <div class="contact__item__number"><mat-icon>phone</mat-icon>0393306989</div>
        <p class="contact__item__time">(9:00 - 22:00)</p>
        <p class="contact__item__subtitle">Tất cả các ngày trong tuần</p>
    </div>
    <div class="contact__item">
        <p class="contact__item__title">GÓP Ý, KHIẾU NẠI</p>
        <div class="contact__item__number"><mat-icon>phone</mat-icon>0985664289</div>
        <p class="contact__item__time">(9:00 - 22:00)</p>
        <p class="contact__item__subtitle">Tất cả các ngày trong tuần</p>
    </div>
</section>
<section class="newsettler">
    <p class="newsettler__title">ĐĂNG KÝ NHẬN TIN TỨC</p>
    <div class="newsettler__inner">
        <input type="text" placeholder="Email" class="newsettler__inner__email">
        <input type="submit" value="Đăng ký" class="newsettler__inner__submit">
    </div>
</section>
<section class="social">
    <p class="social__title">FOLLOW AN TRÊN MẠNG XÃ HỘI</p>
    <div class="social__inner">
        <img src="../../../assets/vectors/facebook.svg" class="social__inner__item">
        <img src="../../../assets/vectors/instagram.svg" class="social__inner__item">
        <img src="../../../assets/vectors/youtube.svg" class="social__inner__item">
    </div>
</section>
<section class="expansions">
    <mat-expansion-panel class="expansions__stores" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hệ thống cửa hàng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Store: Lorem Ipsum Dolomet</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__support" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hỗ trợ khách hàng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chính sách đổi trả</p>
        <p>Chính sách bảo hành</p>
        <p>Chính sách thanh toán</p>
        <p>Chính sách bảo mật</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__about" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Về An Bralette
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Giới thiệu</p>
        <p>Liên hệ</p>
        <p>Tuyển dụng</p>
        <p>Tìm đại lý</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansions__stores" color="fanpage">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fanpage của chúng tôi
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
</section>
  
<section class="copyright">© 2021 NDev</section>