<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"> 
  <div id="gallery" class="view">
    <div class="page">
      <button (click)="previousPage()" class="page__previous">Trang trước</button>
      <select (change)="onPageChange($event)">
          <option *ngFor="let index of ngForLoop(this.maxPage);index as i" [selected]="pageIndex === i" [value]="i">Trang {{i+1}}</option>
      </select>
      <button (click)="nextPage()" class="page__next">Trang tiếp</button>
  </div>
    <div id="wrapper">
        <img *ngFor="let imgsrc of pageArray,index as i" [src]="back+'/static/contents/'+imgsrc" (click)="imageGallery_deleteItem(i)" class="item" [ngClass]="{'selected':imageGallery_checkIfExisted(imgsrc)}">
    </div>
    <button class="btn btn-danger" (click)="imageGallery_delete()" id="delete-images-button">Xóa những ảnh được chọn</button>
</div> 