.cart{
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    font-family: CocoGothic;
    background-color: white;
    transition-duration: 0.4s;

    &__wrapper {
        padding: 20px;

        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &__details {
            line-height: 10px-;
        }
        &__inner {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px dotted rgb(116, 116, 116);
            
            &__item {
                position: relative;
                height: 150px;

                &__image {
                    float: left;
                    width: auto;
                    height: 130px;
                    margin-right: 10px;
                }
                &__name , &__amount{
                    color: gray;
                }
                &__price {
                    font-weight: bolder;
                    color: crimson;
                }
                &__delete {
                    position: absolute;
                    bottom: 25px;
                    right: 10px;
                    width: 80px;
                    height: 30px;
                    text-align: center;
                    line-height: 25px;
                    background-color: crimson;
                    color: white;
                }
            }
        }
        &__info {
            position: relative;
            overflow: hidden;
            padding-top: 10px;
            padding-bottom: 10px;

            &__label {
                float: left;
            }
            &__total {
                float: right;
                color: crimson;
                font-weight: bolder;
            }
        }
        &__checkout {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                background-color: black;
                width: 80%;
                height: 40px;
                line-height: 35px;
                color: whitesmoke;
                text-align: center;
            }
        }
        &__more {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__inner {
                text-decoration: underline;
            }
        }
    }
}

.info {
    font-family: CocoGothic;

    &__title {
        font-size: 20px;
    }
    & form {
        font-size: 15px;
    }
    &__coupon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        & button {
            width: 180px;
        }
    }
    &__payment {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        & input {
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 800px) {  
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    
        &__inner {
            display: grid;
            grid-template-columns: 400px 400px;
            column-gap: 10px;
        }
    }
}