<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"> 
<div id="orders" class="view">
    <button (click)="reload$.goto('/admin/dashboard/coupon')" class="btn btn-primary">Quản lý mã giảm giá</button>
    <button (click)="reload$.goto('/admin/dashboard/feedback')" class="btn btn-primary">Feedback</button>
    <div id="filter">
        <input type="text" placeholder="Search..." id="search-query" class="form-control datetime">
        <label for="date-from">Từ</label>
        <input type="date" name="date-from" id="date-from" class="form-control datetime">
        <label for="date-to">Đến</label>
        <input type="date" name="date-to" id="date-to" class="form-control datetime">
        <select class="form-control datetime" id="status">
            <option>Tất cả</option>
            <option>Chưa kiểm duyệt</option>
            <option>Đã xác nhận</option>
            <option>Đang giao hàng</option>
            <option>Hoàn thành</option>
            <option>Hủy bỏ</option>
            <option>Chưa thanh toán</option>
        </select>
        <label for="filter-all">Tất cả Đơn hàng</label>
        <input type="checkbox" id="filter-all" name="filter-all">
    </div>
    <table class="table">
        <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Tỉnh thành</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Phuơng thức</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Tổng</th>
            <th scope="col">Thời gian</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Xóa</th>
            <th scope="col">Chi tiết</th>
        </tr>
        <tr *ngFor="let order of orderArray" [ngClass]="getColor(order.status)">
            <td>{{order._id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.province}}</td>
            <td>{{order.address}}</td>
            <td>{{order.payment}}</td>
            <td>{{order.note}}</td>
            <td>{{order.total}}VND</td>
            <td>{{order.date}}</td>
            <select (change)="changeOrderStatus($event,order)" id="status">
                <option [selected]="order.status === 'Chưa kiểm duyệt'">Chưa kiểm duyệt</option>
                <option [selected]="order.status === 'Đã xác nhận'">Đã xác nhận</option>
                <option [selected]="order.status === 'Đang giao hàng'">Đang giao hàng</option>
                <option [selected]="order.status === 'Hoàn thành'">Hoàn thành</option>
                <option [selected]="order.status === 'Hủy bỏ'">Hủy bỏ</option>
                <option [selected]="order.status === 'Chưa thanh toán'">Chưa thanh toán</option>
            </select>
            <td><span (click)="deleteOrder(order)" class="material-icons">delete</span></td>
            <td><button (click)="reload$.goto('/invoice',{id: order._id})">Xem</button></td>
        </tr>
    </table>
</div> 