<swiper class="images"
      [slidesPerView]="1"
      [spaceBetween]="1"
      [pagination]="{
        clickable: true
      }"
      [direction]="'vertical'"
      *ngIf="itemData?.images!==undefined&&itemData?.images?.length!==undefined&&swiperDir"
    >
    <ng-template *ngFor="let images of itemData.images" swiperSlide>
        <img [src]="back + images" class="images__slide">
    </ng-template>
</swiper>
<swiper class="images"
      [slidesPerView]="2"
      [spaceBetween]="1"
      [pagination]="{
        clickable: true
      }"
      [direction]="'horizontal'"
      *ngIf="itemData?.images!==undefined&&itemData?.images?.length!==undefined&&!swiperDir"
    >
    <ng-template *ngFor="let images of itemData.images" swiperSlide>
        <img [src]="back + images" class="images__slide">
    </ng-template>
</swiper>
<section class="addtocart cdk-overlay-pane">
    <mat-icon (click)="addToCart()">add_shopping_cart</mat-icon>
</section>
<section class="description">
    <p class="description__name">{{itemData.name}}</p>
    <p class="description__price">{{itemData.price | currency_pipe}}</p>
    <div class="description__sizes">
        <p class="description__sizes__title">Sizes:</p> 
        <div matRipple *ngFor="let size of itemData.sizes; index as i" [ngClass]="{'description__sizes__size--selected':this.sizeIndex === i}" (click)="chooseSize(size,i)" class="description__sizes__size">{{size}}</div>
    </div>
</section>
<section class="details">
    <mat-tab-group class="details__tabs" mat-stretch-tabs [backgroundColor]="'primary'">
        <mat-tab label="Mô tả">
            <div class="details__tabs__tab" [innerHtml]="itemData.description">
            </div>
        </mat-tab>
        <mat-tab class="details__tabs__tab" label="Phí ship">
            <div class="details__tabs__tab">
                FREESHIP VỚI ĐƠN HÀNG TỪ 700KTRỞ LÊN
                <br>
                - Không áp dụng cũng các chương trình khuyến mại khác (giảm giá, combo, chiết khấu khách VIP)
                <br>
                - Thời gian áp dụng từ: 01/04 
                <br>
                PHÍ SHIP VỚI ĐƠN HÀNG DƯỚI 03 SẢN PHẨM
                <br>
                - Khách hàng tại Hà Nội: 22.000 đ
                <br>
                - Khách hàng tại tỉnh khác: 33.000 đ
                <br>
                THỜI GIAN NHẬN HÀNG
                <br>
                - [Khu vực Hà Nội] - Khách hàng sẽ nhận được trong 01- 02 ngày làm việc
                <br>
                - [Khu vực tỉnh khác] - Khách hàng sẽ nhận được trong 02- 03 ngày làm việc
            </div>
        </mat-tab>
        <mat-tab class="details__tabs__tab" label="Đổi trả">
            <div class="details__tabs__tab">
                CHÍNH SÁCH ĐỔI SẢN PHẨM An Bralette
                <br>
                - Sản phẩm đổi trả phải còn nguyên tem mác, không qua sử dụng hay giặt là.
                <br>
                - Đổi sản phẩm bằng hoặc hơn giá trong vòng 03 ngày kể từ khi nhận hàng.
                <br>
                - Không áp dụng đổi trả sản phẩm trong các chương trình khuyến mại.
                <br>
                - KHÔNG áp dụng đổi trả sản phẩm QUẦN LÓT và phụ kiện dưới mọi hình thức.
                <br>
                - An Bralette bảo hành sản phẩm trong vòng 30 ngày tất cả các lỗi từ nhà sản xuất.
            </div>
        </mat-tab>
    </mat-tab-group>
</section>
<section class="callback">
    <p class="callback__title">CẦN TƯ VẤN?</p>
    <input placeholder="Số điện thoại" type="text" class="callback__input">
    <div class="callback__submit">GỌI LẠI CHO TÔI</div>
</section>
<section class="reviews">
    <p class="reviews__title">ĐÁNH GIÁ</p>
    <div class="reviews__inner">
        <p class="reviews__inner__null">0 Reviews</p>
    </div>
</section>
<section class="buynow">
    <div (click)="addToCart()" class="buynow__inner">ĐẶT MUA</div>
</section>
<section class="recommendations">
    <p class="recommendations__title">CÓ THỂ BẠN QUAN TÂM</p>
    <div class="recommendations__inner">
        <div *ngFor="let item of itemArray" class="recommendations__inner__item">
            <a (click)="reload$.gotoAndReload('/display',{id: item.item_id})">
                <img *ngIf="item?.images?.length > 0&&item?.images?.length !== undefined"  [src]="back + item.images[0]" class="recommendations__inner__item__image">
                <div class="recommendations__inner__item__desc">
                    <p class="recommendations__inner__item__desc__name">{{item.name}}</p>
                    <p class="recommendations__inner__item__desc__price">{{item.price | currency_pipe}}</p>
                </div>
            </a>
        </div>
    </div>
</section>

