/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: CocoGothic;
    src: url("./assets/fonts/CocoGothicR.ttf");
  }
@import '~swiper/swiper-bundle';
html, body { height: 100%; }
body { margin: 0; font-family: CocoGothic; }
