

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group">
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control"
            hidden>
    </div>

    <div class="form-group">
        <label for="file">Chọn file để tải lên: </label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            multiple
            class="form-control"
            (change)="onFileChange($event)">
    </div>

    <button class="btn btn-primary" type="submit">Tải lên</button>
</form>