<img src="../../assets/images/thumb.jpg" class="banner">
<img src="../../assets/images/thumb2.jpeg" class="banner2">
<section class="motto">
    <img src="../../assets/images/brand.png" class="motto__image">
    <p class="motto__tile">THẾ GIỚI NỘI Y CỦA RIÊNG BẠN</p>
    <div class="motto__inner">
        <div class="motto__inner__measure">ĐO SIZE</div>
        <div class="motto__inner__buy">MUA NGAY</div>
    </div>
</section>
<section class="motto-desktop">
    <div class="motto-desktop__wrapper">
        <img src="../../assets/images/brand.png" class="motto-desktop__image">
        <p class="motto-desktop__tile">THẾ GIỚI NỘI Y CỦA RIÊNG BẠN</p>
        <div class="motto-desktop__inner">
            <div class="motto-desktop__inner__measure">ĐO SIZE</div>
            <div class="motto-desktop__inner__buy">MUA NGAY</div>
        </div>
    </div>
</section>
<section class="news">
    <div class="news__before">
        <p class="news__before__title">Mang Đến Những Sản Phẩm Ôm Ấp</p>
        <p class="news__before__subtitle">Dọn đường cho hành chình cảm xúc của chính bạn!</p>
        <img src="../../assets/images/new1.jpg" class="news__before__thumb">
    </div>
    <div class="news__after">
        <img src="../../assets/images/new2.jpg" class="news__after__thumb">
        <p class="news__after__title">Cảm Hứng Từ Thiên Nhiên Thay Mùa</p>
        <p class="news__after__subtitle">Khiến cô gái có những rung động mới</p>
    </div>
</section>
<section class="policy">
    <p class="policy__title">CHÍNH SÁCH CHO NÀNG</p>
    <div class="policy__inner">
        <div class="policy__inner__item">
            <mat-icon>autorenew</mat-icon>
            <p>Hỗ trợ đổi trả khi không vừa size</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
        <div class="policy__inner__item">
            <mat-icon>check_circle_outline</mat-icon>
            <p>Bảo hành sản phẩm trong vòng 30 ngày</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
    </div>
</section>
<section class="policy-desktop">
    <div class="policy-desktop__item">
        <p class="policy-desktop__item__title">Hỗ trợ đổi trả khi không vừa size</p>
        <p class="policy-desktop__item__more">Xem chi tiết</p>
    </div>
    <div class="policy-desktop__item">
        <p class="policy-desktop__item__title">Bảo hành sản phẩm trong vòng 30 ngày</p>
        <p class="policy-desktop__item__more">Xem chi tiết</p>
    </div>    <div class="policy-desktop__item">
        <p class="policy-desktop__item__title">Cam kết sản phẩm như hình</p>
        <p class="policy-desktop__item__more">Xem chi tiết</p>
    </div>
</section>
<section class="weekly">
    <p class="weekly__title">ƯU ĐÃI HÀNG TUẦN</p>
    <swiper *ngIf="itemArray !== undefined" class="weekly__swiper"
      [slidesPerView]="slidePerView"
      [spaceBetween]="1"
    >
        <ng-template *ngFor="let item of itemArray" swiperSlide>
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <div class="weekly__swiper__item">
                    <img *ngIf="item?.images?.length > 0&&item?.images?.length !== undefined"  [src]="back + item.images[0]" class="weekly__swiper__item__image">
                    <div class="weekly__swiper__item__desc">
                        <p class="weekly__swiper__item__desc__name">{{item.name}}</p>
                        <p class="weekly__swiper__item__desc__price">{{item.price | currency_pipe}}</p>
                    </div>
                </div>
            </a>
        </ng-template>
    </swiper>
</section>
<section class="flashsale">
    <p class="flashsale__title">FLASHSALE</p>
    <div *ngIf="itemArray !== undefined" class="flashsale__inner">
        <div *ngFor="let item of itemArray" class="flashsale__inner__item">
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <img *ngIf="item?.images?.length > 0&&item?.images?.length !== undefined" [src]="back + item.images[0]" class="flashsale__inner__item__image">
                <div class="flashsale__inner__item__desc">
                    <p class="flashsale__inner__item__desc__name">{{item.name}}</p>
                    <p class="flashsale__inner__item__desc__price">{{item.price | currency_pipe}}</p>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="collection">
    <p class="collection__title">BỘ SƯU TẬP</p>
    <div *ngIf="itemArray !== undefined" class="collection__inner">
        <div *ngFor="let item of itemArray" class="collection__inner__item">
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <img *ngIf="item?.images?.length > 0&&item?.images?.length !== undefined"  [src]="back + item.images[0]" class="collection__inner__item__image">
                <div class="collection__inner__item__desc">
                    <p class="collection__inner__item__desc__name">{{item.name}}</p>
                    <p class="collection__inner__item__desc__price">{{item.price | currency_pipe}}</p>
                </div>
            </a>
        </div>
    </div>
</section>
<div class="cdk-overlay-container">
    <div id="cdk-overlay-0" class="cdk-overlay-pane" dir="ltr">
      <app-overlay></app-overlay>
    </div>
</div>