<img src="../../assets/images/thumb.jpg" class="banner">
<section class="motto">
    <img src="../../assets/images/brand.png" class="motto__image">
    <p class="motto__tile">THẾ GIỚI NỘI Y CỦA RIÊNG BẠN</p>
    <div class="motto__inner">
        <div class="motto__inner__measure">ĐO SIZE</div>
        <div class="motto__inner__buy">MUA NGAY</div>
    </div>
</section>
<section class="policy">
    <p class="policy__title">CHÍNH SÁCH CHO NÀNG</p>
    <div class="policy__inner">
        <div class="policy__inner__item">
            <mat-icon>autorenew</mat-icon>
            <p>Hỗ trợ đổi trả khi không vừa size</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
        <div class="policy__inner__item">
            <mat-icon>check_circle_outline</mat-icon>
            <p>Bảo hành sản phẩm trong vòng 30 ngày</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
    </div>
</section>
<section class="weekly">
    <p class="weekly__title">ƯU ĐÃI HÀNG TUẦN</p>
    <swiper class="weekly__swiper"
      [slidesPerView]="2"
      [spaceBetween]="1"
    >
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model1.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model2.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model1.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model2.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model1.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model2.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model1.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="weekly__swiper__item">
                <img src="../../assets/images/model2.jpg" class="weekly__swiper__item__image">
                <div class="weekly__swiper__item__desc">
                    <p class="weekly__swiper__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                    <p class="weekly__swiper__item__desc__price">345,000 VNĐ</p>
                </div>
            </div>
        </ng-template>
    </swiper>
</section>
<section class="flashsale">
    <p class="flashsale__title">FLASHSALE</p>
    <div class="flashsale__inner">
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model2.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="flashsale__inner__item">
            <img src="../../assets/images/model1.jpg" class="flashsale__inner__item__image">
            <div class="flashsale__inner__item__desc">
                <p class="flashsale__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="flashsale__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
    </div>
</section>
<section class="collection">
    <p class="collection__title">BỘ SƯU TẬP</p>
    <div class="collection__inner">
        <div class="collection__inner__item">
            <img src="../../assets/images/model1.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model2.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model2.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model1.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model1.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model2.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model2.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
        <div class="collection__inner__item">
            <img src="../../assets/images/model2.jpg" class="collection__inner__item__image">
            <div class="collection__inner__item__desc">
                <p class="collection__inner__item__desc__name">Áo Corset Ren Đen Quả Chéo</p>
                <p class="collection__inner__item__desc__price">345,000 VNĐ</p>
            </div>
        </div>
    </div>
</section>