<img src="../../assets/images/thumb.jpg" class="banner">
<section class="motto">
    <img src="../../assets/images/brand.png" class="motto__image">
    <p class="motto__tile">THẾ GIỚI NỘI Y CỦA RIÊNG BẠN</p>
    <div class="motto__inner">
        <div class="motto__inner__measure">ĐO SIZE</div>
        <div class="motto__inner__buy">MUA NGAY</div>
    </div>
</section>
<section class="policy">
    <p class="policy__title">CHÍNH SÁCH CHO NÀNG</p>
    <div class="policy__inner">
        <div class="policy__inner__item">
            <mat-icon>autorenew</mat-icon>
            <p>Hỗ trợ đổi trả khi không vừa size</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
        <div class="policy__inner__item">
            <mat-icon>check_circle_outline</mat-icon>
            <p>Bảo hành sản phẩm trong vòng 30 ngày</p>
            <a href="google.com"><p>Tìm hiểu thêm</p></a>
        </div>
    </div>
</section>
<section class="weekly">
    <p class="weekly__title">ƯU ĐÃI HÀNG TUẦN</p>
    <swiper class="weekly__swiper"
      [slidesPerView]="2"
      [spaceBetween]="1"
    >
        <ng-template *ngFor="let item of itemArray" swiperSlide>
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <div class="weekly__swiper__item">
                    <img [src]="back + item.images[0]" class="weekly__swiper__item__image">
                    <div class="weekly__swiper__item__desc">
                        <p class="weekly__swiper__item__desc__name">{{item.name}}</p>
                        <p class="weekly__swiper__item__desc__price">{{item.price | currency_pipe}}</p>
                    </div>
                </div>
            </a>
        </ng-template>
    </swiper>
</section>
<section class="flashsale">
    <p class="flashsale__title">FLASHSALE</p>
    <div class="flashsale__inner">
        <div *ngFor="let item of itemArray" class="flashsale__inner__item">
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <img [src]="back + item.images[0]" class="flashsale__inner__item__image">
                <div class="flashsale__inner__item__desc">
                    <p class="flashsale__inner__item__desc__name">{{item.name}}</p>
                    <p class="flashsale__inner__item__desc__price">{{item.price | currency_pipe}}</p>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="collection">
    <p class="collection__title">BỘ SƯU TẬP</p>
    <div class="collection__inner">
        <div *ngFor="let item of itemArray" class="collection__inner__item">
            <a routerLink="/display" [queryParams]="{id: item.item_id}">
                <img [src]="back + item.images[0]" class="collection__inner__item__image">
                <div class="collection__inner__item__desc">
                    <p class="collection__inner__item__desc__name">{{item.name}}</p>
                    <p class="collection__inner__item__desc__price">{{item.price | currency_pipe}}</p>
                </div>
            </a>
        </div>
    </div>
</section>
<div class="cdk-overlay-container">
    <div id="cdk-overlay-0" class="cdk-overlay-pane" dir="ltr">
      <app-overlay></app-overlay>
    </div>
</div>